.checkbox {
  display: inline-block;
  min-height: 29px;
  padding-left: 62px;
  padding-top: 10px;
  position: relative;

  @media (min-width: @screen-md) {
    min-height: 39px;
    padding-left: 80px;
    padding-top: 13px;

    font-size: 19px;
  }
}

.checkbox__indicator {
  height: 35px;
  width: 36px;

  position: absolute;
  top: 0;
  left: 0;

  border: 2px solid @border-color--gray;

  @media (min-width: @screen-md) {
    width: 50px;
    height: 48px;
  }
}

.checkbox:hover > .checkbox__indicator {
  border-color: @border-color;
}

.checkbox__control:checked + .checkbox__indicator,
.checkbox:active > .checkbox__indicator {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;

  @media (min-width: @screen-md) {
    background-size: 33px 22px;
  }
}

.checkbox__control:checked:active + .checkbox__indicator {
  background-image: none;
}

.checkbox:active > .checkbox__indicator {
  border-color: fade(@border-color--gray, 30%);
}

.checkbox__text {
  font-weight: bold;
}
