.contacts__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: @line-height--h2;
}

.contacts__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-size: @font-size--medium;
  line-height: 30px;

  color: @text-color--gray;
  list-style: none;
}

.contacts__map {
  display: block;
  margin-bottom: 40px;
}
