.features__title {
  font-size: @font-size--h1;
  line-height: @line-height--h1;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @screen-md) {
    .container();

    display: flex;
  }
}

.features__item {
  @media (min-width: @screen-md) {
    flex-grow: 1;
  }
}

.features__item {
  &--decor {
    background-color: #63d1bb;

    a::after {
      content: "";
      height: 62px;
      width: 40px;

      position: absolute;
      top: 23px;
      right: 36px;

      background-image: url("../img/icon-interior.svg");

      @media (min-width: @screen-md) {
        top: 30px;
      }
    }
  }

  &--decor:hover {
    background-color: #59d5bc;
  }

  &--toys {
    background-color: #56c3b2;

    a::after {
      content: "";
      height: 60px;
      width: 60px;

      position: absolute;
      top: 21px;
      right: 27px;

      background-image: url("../img/icon-toy.svg");

      @media (min-width: @screen-md) {
        top: 32px;
        right: 34px;
      }
    }
  }

  &--toys:hover {
    background-color: #46c1ae;
  }

  a {
    display: block;
    padding-top: 30px;
    padding-right: 90px;
    padding-bottom: 30px;
    padding-left: 30px;

    position: relative;

    color: #ffffff;
    text-decoration: none;

    @media (max-width: @screen-md) {
      padding-right: 120px;
      padding-left: 60px;
      margin: 0 auto;
    }
  }

  a::after {
    opacity: 0.5;
  }

  &:hover a::after {
    opacity: 0.7;
  }
}
