.features__title {
  font-size: @font-size--h1;
  line-height: @line-height--h1;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 19px;
  line-height: 24px;

  @media (min-width: @screen-md) {
    display: flex;

    font-size: 20px;
    line-height: 30px;
  }
}

.features__item {
  @media (min-width: @screen-md) {
    width: 50%;
  }

  &:hover {
    margin-top: -5px;
  }

  &--decor {
    background-color: #63d1bb;

    a::after {
      content: "";
      height: 62px;
      width: 40px;

      position: absolute;
      top: 23px;
      right: 36px;

      background-image: url("../img/icon-interior.svg");

      @media (min-width: @screen-md) {
        top: 30px;
      }
    }
  }

  &--decor:hover {
    background-color: #59d5bc;
  }

  &--toys {
    background-color: #56c3b2;

    a::after {
      content: "";
      height: 60px;
      width: 60px;

      position: absolute;
      top: 21px;
      right: 27px;

      background-image: url("../img/icon-toy.svg");

      @media (min-width: @screen-md) {
        top: 32px;
        right: 34px;
      }
    }
  }

  &--toys:hover {
    background-color: #46c1ae;
  }

  a {
    min-height: 63px;
    display: block;
    padding-top: 30px;
    padding-right: 90px;
    padding-bottom: 10px;
    padding-left: 30px;

    position: relative;

    color: #ffffff;
    text-decoration: none;

    @media (min-width: @screen-md) {
      min-height: 79px;
      padding-left: 36px;
    }
  }

  a::after {
    opacity: 0.5;
  }

  a:hover::after {
    opacity: 0.7;
  }

  a:active {
    opacity: 0.3;
  }
}
