.features__title {
  font-size: @font-size--h1;
  line-height: @line-height--h1;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @screen-md) {
    display: flex;
  }
}

.features__item {
  @media (min-width: @screen-md) {
    flex-grow: 1;
  }
}

.features__link {
  display: block;
  padding-top: 30px;
  padding-right: 90px;
  padding-bottom: 30px;
  padding-left: 30px;
  text-decoration: none;

  &--decor {
    background-color: #63d1bb;
    color: #ffffff;
  }

  &--decor:hover {
    background-color: #59d5bc;
    color: #ffffff;
  }

  &--toys {
    background-color: #56c3b2;
    color: #ffffff;
  }

  &--toys:hover {
    background-color: #46c1ae;
    color: #ffffff;
  }
}
