.order-desc__title {
  margin: 0;
  padding-right: 30px;

  line-height: 17px;
  font-weight: bold;
  color: @title-color--form;
  text-transform: uppercase;
}

.order-desc__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.order-desc__item {
  margin-bottom: 22px;
}

.order-desc__item:last-child {
  margin-bottom: 0;
}
