.product {

}

.product__title {
  margin: 0;
  padding-top: 27px;

  font-size: 17px;
  line-height: 24px;
}

.product__desc {
  font-size: 13px;
  line-height: 30px;
  color: @text-color--gray;
}

.product__inner {
  padding-left: 28px;
  padding-right: 28px;

  border: 1px solid #ededed;
}

.product__price {
  font-size: @font-size--medium;
  line-height: 24px;
  font-weight: bold;
}

.product__buy {

}
