.simple-article {
  @media (min-width: @screen-md) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @screen-lg) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.simple-article:hover .simple-article__title {
  box-shadow: 0 5px 10px 0 fade(#000000, 10%);
}

.simple-article:active .simple-article__title {
  box-shadow: 0 3px 5px 0 fade(#000000, 10%);
}

.simple-article__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-left: 90px;
  padding-bottom: 22px;
  position: relative;

  font-size: @font-size;
  font-weight: bold;
  line-height: 24px;
  border: 1px solid #ececec;

  @media (min-width: @screen-md) {
    margin-bottom: 31px;
    padding-top: 41px;
    padding-left: 107px;
    padding-bottom: 0;

    border-bottom: none;
    font-size: 20px;
  }

  @media (min-width: @screen-lg) {
    margin-bottom: 280px;
    padding-left: 80px;
    padding-top: 95px;
    padding-right: 50px;
    width: 236px;
  }

  &::before {
    content: "";
    width: 32px;
    height: 28px;

    position: absolute;
    top: 29px;
    left: 34px;

    background-image: url("../img/icon-video.svg");

    @media (min-width: @screen-md) {
      top: 33px;
      left: 42px;
    }

    @media (min-width: @screen-lg) {
      top: 41px;
      left: 80px;
    }
  }
}

.simple-article__video {
  display: block;
  width: 260px;
  height: 150px;
  position: relative;

  background-color: #ffffff;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }

  @media (min-width: @screen-md) {
    height: 455px;
    width: 668px;
    order: -1;

    background-image: url("../img/video-tablet@1x.jpg");
  }

  @media (min-width: @screen-md) and (min-resolution: @retina-dpi),
    (min-width: @screen-md) and (min-resolution: @retina-dppx) {
    background-image: url("../img/video-tablet@2x.jpg");
  }

  @media (min-width: @screen-lg) {
    height: 455px;
    width: 682px;

    background-image: url("../img/video-desktop@1x.jpg");
  }

  @media (min-width: @screen-lg) and (min-resolution: @retina-dpi),
    (min-width: @screen-lg) and (min-resolution: @retina-dppx) {
    background-image: url("../img/video-desktop@2x.jpg");
  }

  &::before {
    content: "";

    width: 101px;
    height: 77px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -38px;
    margin-left: -50px;
    background: transparent url("../img/icon-play.svg") no-repeat;
    background-size: contain;
  }

  &:hover::before {
    width: 120px;
    height: 100px;
    margin-top: -50px;
    margin-left: -60px;
  }

  &:active::before {
    width: 80px;
    height: 62px;
    margin-top: -31px;
    margin-left: -40px;

    opacity: 0.3;
  }
}

.simple-article__inner {
  padding-top: 29px;
  padding-left: 34px;
  padding-right: 34px;
  border: 1px solid #ececec;

  @media (min-width: @screen-md) {
    padding-top: 0;
    padding-left: 42px;
    padding-right: 42px;

    border-top: none;
  }

  @media (min-width: @screen-lg) {
    width: 330px;
    margin-top: -278px;
    margin-left: 682px;
    padding-left: 80px;
    padding-right: 57px;
  }
}

.simple-article__text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-size: @font-size--small;
  line-height: 24px;

  @media (min-width: @screen-md) {
    margin-bottom: 35px;

    font-size: @font-size--medium;
    line-height: 30px;
  }

  @media (min-width: @screen-lg) {
    margin-bottom: 45px;
  }
}

.simple-article__link {
  width: 100%;
  margin-bottom: 33px;

  @media (min-width: @screen-md) {
    margin-bottom: 46px;
  }
}
