.textarea {
  width: 100%;
}

.textarea__control {
  box-sizing: border-box;
  width: 100%;
  padding: 17px;

  border: 2px solid @border-color--gray;
  color: @text-color--gray;
  font-size: @font-size;
  line-height: 18px;

  outline: none;

  @media (min-width: @screen-md) {
    font-size: 19px;
    line-height: 1.2;
  }

  &:focus,
  &:hover {
    border-color: @border-color;
  }

  &::placeholder {
    color: fade(@text-color--gray, 30%);
  }
}
